body {
	font-family: Arial, sans-serif;
	background-image: url("img/main.jpg");
	background-size: cover;
	color: #000000;
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
}

.mode-madonna {
	font-family: Arial, sans-serif;
	background-image: url("img/madonna.jpg");
	background-size: contain;
	color: #000000;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
}

.mode-ouragan {
	font-family: Arial, sans-serif;
	background-image: url("img/ouragan.jpg");
	background-size: cover;
	color: #000000;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
}

.grid-clock {
    display: grid;
	grid-template-rows: 200px 300px; 
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
	margin-top: 50px;
	margin-bottom: 20px;
}

.entete {
	grid-area: 1 / 1 / 2 / 5;
	position: relative;
	background-color: #fff;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	padding: 20px;
}
#horloge{
	background-color: #ccc;
	position: absolute;
	top:0;
	right: 0;
	padding: 10px;
	margin-top: 40px;
	margin-right: 40px;
	align-content: center;
	border-radius: 10px;
	width: 160px;
}
.temps {
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 22px;
	color: #333;
}

.titre-columns {
	font-size: 22px;
}
.clock-principale {
	grid-area: 2 / 1 / 4 / 3;
	text-align: center;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	padding: 20px;
	width: 500px;
}
.input-row {
	display:block;
	align-items: center;
	align-content: center;
	background-color: #eeeeee;
	padding : 10px;
	border-radius: 5px;
	padding-bottom: 20px;
}
.input-field {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap : 3px;
	width: 100%;
}
input[type="date"],
input[type="time"] {
	padding: 10px;
	font-size: 1rem;
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 100%;
	max-width: 150px;
}

input[type="text"] {
	font-size: 1rem;
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 100%;
	max-width: 245px;
	display:flex;
	flex-direction: column;
	padding: 10px;
	margin-left: 45px;
	margin-top: 3px;
}

input[type="time"]{
	max-width: 70px;
	justify-content: center;
	align-items: center;
	margin-right: 20px;
}
.button-row {
	display: flex;
	gap: 10px;
	justify-content: center;
	align-items: center;
}
#setAlarm,
#updateTime {
	background-color: #007bff;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1rem;
	transition: background-color 0.3s;
	width: 100px;
}

#setAlarm:hover,
#updateTime:hover {
	background-color: #0056b3;
}

.clock {
	grid-area: 2 / 3 / 4 / 5;
	text-align: center;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	padding: 20px;
	width: 400px;
	height: 380px;
}

.case-madonna {
	text-align: center;
	background-color: #b9b6b6b6;
	border-radius: 5px;
	padding: 5px;
	position: fixed;
    bottom: 0;
    right: 0;
	font-size: xx-small;
}

h1 {
	font-size: 2rem;
	color: rgb(3, 15, 91);
}

h3 {
	font-size: 1.0rem;
	color: #333;
}

.alarms {
	margin-top: 20px;
	text-align: left;
	color: #333;
	max-height: 280px;
	overflow-y: scroll;
}

.alarm {
	background-color: #f0f0f0;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	margin: 10px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	animation: fadeIn 0.5s ease-in-out;
	font-size: 14px;
}

.alarm-envoi {
	background-color: #c3bef0;
}

.alarm-prepa {
	background-color: #cadefc;
}

.alarm-reveil {
	background-color: #defcf9;
}

.delete-alarm {
  background-color: rgba(140, 140, 140, 0.338);
  border-radius: 4px;
  border-width: 0px;
  color: #333333;
  padding: 5px;
  
}
.delete-alarm:hover {
  background-color: rgba(94, 94, 94, 0.525);
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.choix-reveil {
	display:flex;
	flex-direction: column;
	gap: 10px;
	padding : 10px;
	padding-bottom: 30px;
}

.box-switch {
	display: flex;
	justify-content: space-between;
	align-items: center;
	justify-content: left;
	font-size: 18px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
  margin-left: 5px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.slider.round {
  border-radius: 28px;
}

.slider.round:before {
  border-radius: 50%;
}

/*Classe pour le bouton de test*/
#boutonTestSon {
	display: flex;
	flex-direction: column;
    grid-gap: 5px;
	background-color: #b9b6b66b;
	border-radius: 5px;
	padding: 5px;
	position: fixed;
    bottom: 0;
    left: 0;
	align-items: center;

}

.bouton_cercle {
  background-color: #f8f8f8;
  width: 20px;
  height: 30px;
  padding: 10px 16px;
  font-size: 24px;
  border-radius: 50%;
  object-fit: cover;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.bouton_cercle:hover {
	background-color: #cadefc;
}

select {
  /* Reset Select */
  border: 0;
  /* Personalize */
  flex: 1;
  padding: 0 1em;
  background-color: var(--darkgray);
  cursor: pointer;
}